<div class="jumbotron">
  <div class="container">

    <h2 class="archare-brand">Archare</h2>
    <p> a blog site founded by <%= link_to "xhan", "/developers/xhan" %></p>
    <p>
      <%= link_to "Posts", posts_url, method: :get, class: "" %>
       about algorithms and web application development can be found here.
        
    </p>
    <p>
      You can also find some data visualization works.
      <ul>
        <li>
          <%= link_to "bubble chart", tags_url(graph_type: "bubble-chart"), method: :get, class: "" %> 
        </li>
        <li> 
          <%= link_to "force directed graph", tags_url(graph_type: "force-directed-graph"), method: :get, class: "" %>   
        </li>
      </ul>  
    </p>
  </div>
</div>