<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p><strong>Archare</strong> is a blog site founded by <%= link_to "xhan", "/developers/xhan" %></p>
    <p>
      Posts and comments features have been added
      <%= link_to "Learn more", posts_url, method: :get, class: "btn btn-info btn-xs" %>  
    </p>
    <p>
      Tags and a bubble chart for displaying tags have been added
      <%= link_to "Tags bubble chart", tags_url, method: :get, class: "" %>  
    </p>
    <p>Current developers:
      <br>
      <ul>

        <% @developers = User.where(is_developer: true) %>
        <% @developers.each do |developer| %>

          <li><h4><%= link_to developer.name, developer_homepage_path(developer) %></h4></li>
        <% end %>
        
      </ul>
      
    </p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>