<%= div_for comment do %>
  <div class="panel panel-default col-md-8">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
           
           <p class="text-muted"><span class="glyphicon glyphicon-user"></span> <%= link_to comment.user.name, user_profile_path(comment.user), class: "text-muted" %></p>
        </div>
      	<div class="col-md-offset-4 col-md-4">
           <p class="text-right text-muted"><%= comment.created_at.strftime("%b %d, %Y") %></p>
        </div>
      	
      </div>
	 
	  
	  <%= h(comment.body.html_safe) %>
	  <br>
	  
	  
    </div>
  </div>
<% end %>