
<div class="xh-index ah-wrapper sb-collapsed">

  <!-- Sidebar -->
  <div class="ah-sidebar-wrapper">
    <ul class="ah-sidebar">
      <li class="ah-sidebar-brand">
        <a href="#">
          Xu Han
        </a>
      </li>
      <li>
        <a href="#xh-skills-tree" class="ah-nav-cube ah-blue-cube" title="Skills tree">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
        </a>
        <span class="ah-ver-line"></span>
      </li>
      
      <li>
        <a href="#xh-projects" class="ah-nav-cube ah-blue-cube" title="Projects">
          <i class="fa fa-diamond" aria-hidden="true"></i>
        </a>
      </li>
      <span class="ah-ver-line"></span>
      <li>
        <a href="#xh-edu" class="ah-sb-sublist-btn ah-nav-cube ah-blue-cube" title="Education">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </a>  
        <div class="ah-sb-sublist">
          <span class="ah-ver-line"></span>
          <a href="#carousel-wpi" class="ah-nav-cube ah-blue-cube" title="MS">             
            WPI
          </a>
          <span class="ah-ver-line"></span>
          <a href="#carousel-tju" class="ah-nav-cube ah-blue-cube" title="BEng">
            TJU
          </a>
        </div>
      </li>
      <span class="ah-ver-line"></span>
      <li>
        <a href="#xh-sns" class="ah-nav-cube ah-blue-cube" title="Be my friend!">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->

  <div class="container-fluid" id="top-nav">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-fixed-top ah-fixed-top-nav">
          <a href="#menu-toggle" class="ah-menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-th-list"></span></a>
        </nav>
      </div>
    </div> 
  </div>

  <div class="ah-page-content">
    

    <div class="jumbotron" id="xh-greeting">
      <div class="container">
        <div class="text-center">
          <h1>Hello, world!</h1>

          <p>
            I am Xu
          </p>
          <p>
            a new grad
          </p> 
          <p>
            a programmer
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="xh-skills-tree">
<!--  -->
      <h2 class="text-center">Skills tree</h2>
      <div id="skills-tree"></div>


      <script>
        var skills = {
          name: "Xu Han (Shawn)",
          children: [
            { name: "programming language",
              children: [
                { name: "java" },
                { name: "python" },
                { name: "ruby" },
                { name: "c++"}
              ]
            },
            { name: "web application development",
              children: [

                { name: "rails" },
                { name: "bootstrap" },
                { name: "jQuery" },
                { name: "d3.js" },
                { name: "HTML 5" },
                { name: "CSS 3" },
                { name: "javascript"}
              ]
            },
            { name: "mobile application development",
              children: [
                { name: "iOS"},
                { name: "Android"}
              ]
            }

          ]
        };











        $(document).ready(function(){

          build_tags_tree();
        });

        $(window).resize(function(){

          build_tags_tree();
        });


        function build_tags_tree(){


          var device_width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
          var device_height = (window.innerHeight > 0) ? window.innerHeight : screen.height;

          var width = device_width,
            height = 700;


          var vertical = true;
          var cluster_width = width - 200,
              cluster_height = height - 200;

          if(device_width < device_height) {

            vertical = false;

            cluster_width = height - 50;
            cluster_height = width - 180;
          }



          var cluster = d3.layout.tree()
              .size([cluster_width, cluster_height]);

          var diagonal = d3.svg.diagonal()
              .projection(function(d) { return (vertical)? [d.x, d.y] : [d.y, d.x]; });

          $('#skills-tree').text('');
          var svg = d3.select("#skills-tree").append("svg")
              .attr("width", width)
              .attr("height", height)
            .append("g")
              .attr("transform", "translate(50,50)");

       
          var nodes = cluster.nodes(skills),
              links = cluster.links(nodes);

          var link = svg.selectAll(".link")
              .data(links)
            .enter().append("path")
              .attr("class", "link")
              .attr("d", diagonal);

          var node = svg.selectAll(".node")
              .data(nodes)
            .enter().append("g")
              .attr("class", "node")
              .attr("transform", function(d) { 
                if(vertical) return "translate(" + d.x + "," + d.y + ")"; 
                else return "translate(" + d.y + "," + d.x + ")"; 
              });

          node.append("circle")
              .attr("r", 4.5);

          node.append("text")
              .attr("dx", function(d) { 
                if(vertical) return d.children ? -8 : -12; 
                else return d.children ? 50 : -8; 
              })
              .attr("dy", function(d) { 
                if(vertical) return d.children ? 3 : 20;
                else return 20; 
              })
              .style("text-anchor", function(d) { return d.children ? "end" : "start"; })
              .text(function(d) { return d.name; });

          d3.select(self.frameElement).style("height", height + "px");


          
        }
      </script>
    </div>

    
    <div class="container-fluid" id="xh-projects">
      <div class="row">
        <div class="col-md-4 xh-project-block">
          <h3 class="text-center">ASSISTments-iOS</h3>
          <p>
            ASSISTments is an online-learning infrastructure for students to learn math and science subjects. It also provides data for researchers to do analysis and tests. I joined a team to develop the new version of iOS APP for ASSISTments. 
          </p>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bzsN3cVDnAI?rel=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>

        <div class="col-md-4 xh-project-block">
          <a href="http://archare.elasticbeanstalk.com"><h3 class="archare-brand">Archare</h3></a>

          <p>
            Archare is my personal website with posts about software development, including algorithms, data structures web developmen, etc. I have also built some data visualiztions for the tags of posts.
          </p>

          <a href="/">
            <img src="/images/ah-thumbnail.jpg" alt="..." class="img-thumbnail">
          </a>
        </div>
        
        <div class="col-md-4 xh-project-block">
          <h3 class="text-center">Flight searching system</h3>
          <p>
            In the course CS 509 design of software systems, I joined a team to develop a flight searching systems. It could build and render complext flight plans for users based on their specific flight plan requirements. 
          </p>

          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/muTFqaLaqWI?rel=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid" id="xh-edu">
      
      
      <div id="carousel-wpi" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-wpi" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-wpi" data-slide-to="1"></li>
          <li data-target="#carousel-wpi" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="full-width-img" src="/images/plaza.jpg" alt="...">
            <div class="carousel-caption">
              <h1>WPI Campus</h1>
              <p>
                Some funny guys practice tightrope walking near this plaza. :)
              </p>
            </div>
          </div>

          <div class="item">
            <img class="full-width-img" src="/images/way-to-apt.jpg" alt="...">
            <div class="carousel-caption">
              <h1>Institute Park</h1>
              <p>
                The way from campus to my apartment.
              </p>
            </div>

          </div>


          <div class="item">
            <img class="full-width-img" src="/images/wpi-grad.jpg" alt="...">
            <div class="carousel-caption">
              <h1>Graduation from WPI</h1>
              <p>
                My friends and I (right).
              </p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-wpi" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-wpi" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="row">
        <div class="jumbotron">

          <h2>Worcester Polytechnic Institute (WPI)</h2>
          <p>
            MS, Electrical and Computer Engineering.
          </p>
        </div>
      </div>



      <div id="carousel-tju" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-tju" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-tju" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="full-width-img" src="/images/haitang.jpg">
            <div class="carousel-caption">
              <h1>Tianjin University</h1>
              <p>
                Spring flowers blossom in the campus.
              </p>
            </div>
          </div>

          <div class="item">
            <img class="full-width-img" src="/images/peiyang.jpg" alt="...">
            <div class="carousel-caption">
              <h1>Graduation</h1>
              <p>
                My roomates and I took the photo in front of the Landmark for the Peiyang Uniersity (old name for TJU).
              </p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-tju" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-tju" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="row">
        <div class="jumbotron">

          <h2>Tianjin University (TJU)</h2>
          <p>
            BEng, Electrical Engineering.
          </p>
        </div>
      </div>


    </div>


    <div class="container-fluid" id="xh-sns">
      <h1 class="text-center">Be my friends!</h1>
      <div class="row">
        <div class="col-md-2 xh-sns-block">
          <h3>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <a target="_blank" href="https://www.linkedin.com/in/xhanshawn">LinkedIn</a>
          </h3>

          <p>
            You can find my professional experiences and profiles.
          </p>

        </div>
        <div class="col-md-2 xh-sns-block">
          <h3>
            
            <i class="fa fa-github" aria-hidden="true"></i>
            <a target="_blank" href="https://github.com/xhanshawn">Github</a>
          </h3>

          <p>
            Most of my projects are open on Github.
          </p>
        </div>
        <div class="col-md-2 xh-sns-block">
          <h3>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100006425761916">Facebook</a>
          </h3>

          <p>
            Although I don't often post my stories, I am glad to add friends on Facebook.
          </p>

        </div>
        <div class="col-md-2 xh-sns-block">
          <h3>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <a target="_blank" href="https://www.instagram.com/buingbuing_xh/">Instagram</a>
          </h3>

          <p>
            In fact, I like instagram more than Facebook. 
          </p>

        </div>

        <div class="col-md-2 xh-sns-block">
          <h3>
            <i class="fa fa-weibo" aria-hidden="true"></i>
            Weibo
          </h3>

          <p>
            Where I like sharing and reposting funny stories.
          </p>
          <img src="/images/weibo_qr.jpg" alt="..." class="img-thumbnail">
        </div>

        <div class="col-md-2 xh-sns-block">
          <h3>
            <i class="fa fa-weixin" aria-hidden="true"></i>
            Wechat
          </h3>

          <p>
            Chat with me on wechat and I often post photos. 
          </p>
          <img src="/images/weixin_qr.jpg" alt="..." class="img-thumbnail">
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

<style type="text/css">

  #menu-toggle{
    font-size: 20px;
    /*color: lighten(#000, 46.7%); // #777*/
    color: #777;
  }

  

  .xh-index .jumbotron{
    background-color: transparent;
  }
  .xh-index p{
    font-family: 'Varela Round', sans-serif;
  }

  .xh-index h3{
    font-family: 'Open Sans', sans-serif;
  }

  /*greeting parts*/

  .xh-index #xh-greeting{
    margin-top: 60px;
    padding-top: 150px;
    /*height: 100vh;*/
  }

  



  /*skills tree part */

  #skills-tree{
    text-align: center;
  }

  #skills-tree .node circle {

    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  #skills-tree .node {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
  }

  #skills-tree .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }



  /*projects part and blocks*/

  .xh-project-block{
    padding: 30px;
    
  }

  @media(min-width:768px) {

    .xh-project-block{
      min-height: 100vh;
    }
  }

  .xh-project-block:not(p){
    text-align: center;
  }
  
  #xh-projects{
    padding-top: 30px;
    padding-bottom: 39px;
  }

  .xh-project-block iframe{
    padding: 30px;
  }

  .xh-index a{

    text-decoration: none;
  }




  /* education */

  #xh-edu img.full-width-img{

    /*display: inline-block;*/
    width: 100%;
    /*max-height: 90vh;*/
    height: auto;

    /*vertical-align: middle;*/
    /*position: absolute;

    top: 0;
    bottom: 0;*/
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
  }

  @media(min-width:768px) {

    .xh-index #xh-greeting{

      padding-top: 20vh;
      height: 90vh;

    }

    #xh-edu img.full-width-img{

      /*min-height: 100vh;*/

    }


    .xh-index .carousel.slide, 
    .xh-index .carousel.slide .carousel-inner
    {
      overflow: hidden;
      height: auto;
      max-height: 100vh;

    }

    .xh-index .carousel.slide .item > img{
      /*position: absolute;*/
      /*top: 0;
      bottom: 0;*/
    }

      
    .xh-index .carousel-caption{

      top: 60%;
    }

  }

  




  .xh-index .xh-sns-block{
    text-align: center;
  }

  #xh-sns{
    padding-top: 80px;
    min-height: 100vh;
  }

  #xh-sns p{
    padding: 20px;
  }



</style>
<script type="text/javascript">

	$('.ah-menu-toggle').on('click', function(e){
		$('.ah-wrapper').toggleClass('sb-collapsed');
	});

  $(document).ready(function(){

    $('.ah-nav-cube').attr({
      'data-toggle': 'tooltip',
      'data-delay' : '{"show":"1200", "hide":"0"}'
    });


    $('[data-toggle="tooltip"]').tooltip({'placement': 'top'});
  });
  


  $(document).on('click', 'a[href^="#"]', function(e) {
    // target element id
    var id = $(this).attr('href');

    // target element
    var $id = $(id);

    // prevent standard hash navigation (avoid blinking in IE)
    e.preventDefault();

    // var animate_options = {duration: 800, easing: 'easeOutSine'};

    var pos = 0;

    if ($id.length !== 0) {

      // top position relative to the document
      pos = $(id).offset().top - 60;
    }

    var diff = Math.abs(pos - $(document).scrollTop());

    console.log(diff);
    // animated top scrolling
    $('body, html').animate({scrollTop: pos}, { duration: diff, easing: 'easeInOutCubic'});
 
  });








  




  



  
</script>




