
<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>Tags bubble chart</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <div id="tags-chart"></div>      
    </div>
  </div>
  <br>
</div>


  


