<div class="container">
  <div class="row">
  	<div class="col-md-10">
  		<h3 class="page-header text-primary">Archare</h3>
  		<p>
  			This is just a blog site and personal website for me. Sometimes I write posts here to record or share my experiences. You can create a user to leave comments for me or even post you own stories. 
  		</p>
  		<p>
  			You can contact me through my email. <a href="mailto:xhan@wpi.edu">xhan@wpi.edu</a>
  		</p>
  	</div>
  </div>
</div>

