<div class="container">
  <div class="row">
  	<div class="col-md-10">
  		<h3 class="page-header text-primary">Archare</h3>
  		<p><a href="http://archare.elasticbeanstalk.com/">Archare</a> is where you can write posts and share good articles for us. All of the posts and reference articles can be marked with tags. Some data visualizations will be done based on the tags and posts. I believe you can have a better understanding of some algorithms, data structures and technologies based on the visualizations of Archare.&nbsp;</p><p>As a new grad student, I was trying to practice algorithm questions and prepare interview questions. I believe it is efficient and important to find the relationships among different algorithms and data structures for solving some hard questions. So I decided to learn and build good data visualizations to help us solve algorithm questions. The data will be&nbsp;collected from the original posts on Archare and some online judge sites.&nbsp;</p><p>Currently, a <a href="http://archare.elasticbeanstalk.com/tags">bubble chart</a> is available&nbsp;on Archare. You can easily found the most popular tags on Archare on this figure. More visualization works will be built in the future.&nbsp;</p>
      <div id="tags-panel"></div> 
      <p><br></p>
      <p>I appreciate if you can write original posts and add reference articles for me. The only difference between the two types of posts is that reference article contains a reference link to another article on the internet that the author would like to recommend.&nbsp;</p><p>At last, I really hope this website can help others. Feel free to send me email to me <a href="mailto:xhanbbuing@gmail.com">xhanbbuing@gmail.com</a>, if you find bugs, problems or have advice. You can even become a&nbsp;developer for Archare.</p><p><br></p>
  	</div>
  </div>
</div>

