

@mixin ah-animation($attribute, $duration){

  @if not $attribute{
    $attribute: all;
  }

  // transition animation
  -webkit-transition: $attribute $duration ease;   
     -moz-transition: $attribute $duration ease;
       -o-transition: $attribute $duration ease;
          transition: $attribute $duration ease;

}


@mixin cube-hover-animation(){

  -webkit-transition: background-color 1s ease 0s;
     -moz-transition: background-color 1s ease 0s;
       -o-transition: background-color 1s ease 0s;
          transition: background-color 1s ease 0s;
}


$sidebar-width: 100px;
$sidebar-bg-color: lighten(#000, 20%); // gray dark of bootstrap;
// $sidebar-bg-color: transparent; // gray dark of bootstrap;

$cube-width: 50px;

$cube-blue: #6666ff;
$cube-red: #ff3333;
$cube-green: #66ff66;


.ah-wrapper.sb-collapsed {
  // wrapper is in sidebar-collapsed mode

  padding-left: 0px;

  .ah-fixed-top-nav{

    margin-left: 0px;
    padding: 20px;
  }


  .ah-sidebar-wrapper {
    width: 0px;
  }

  .ah-page-content {

    position: absolute;
    margin-right: -250px;

  }
}


// normal, non-collapsed mode
.ah-wrapper {

  padding-left: $sidebar-width;
  @include ah-animation(all, 0.5s);
}

.ah-fixed-top-nav{

  margin-left: $sidebar-width;
  padding: 20px;
  background: white;
  height: 60px;

  @include ah-animation(all, 0.5s);
}


.ah-sidebar-wrapper {

  position: fixed;


  width: $sidebar-width;

  left: $sidebar-width;
  margin-left: -$sidebar-width;

  height: 100%;

  overflow-y: auto;
  background: $sidebar-bg-color;

  @include ah-animation(all, 0.5s);
}

.ah-page-content {

  width: 100%;
  position: absolute;
  padding: 15px;

  // z-index: -1;
}


.ah-page-content > div:not(#top-nav){
  z-index: -1;
}

.ah-page-content{
  z-index: -1;
}

.carousel-control{
  z-index: 1;
}
.ah-sidebar-wrapper{
  z-index: 10;
}




// browser has a min-width:768px
// typically a browser for a PC
@media(min-width:768px) {

  .ah-wrapper {
    padding-left: $sidebar-width;
  }

 

  .ah-sidebar-wrapper {
    width: $sidebar-width;
  }

  .ah-page-content {
    padding: 0px;
    position: relative;
  }



  .ah-wrapper.sb-collapsed {

    padding-left: 0;

    .ah-sidebar-wrapper {
      width: 0;
    }

    .ah-page-content {
      position: relative;
      margin-right: 0;
    }
  }
}









// sidebar
.ah-sidebar {

  position: absolute;
  top: 0;
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  list-style: none;

  text-align: center; 
}


// default cube style
.ah-nav-cube  {

  display: inline-block;

  text-decoration: none;
  color: #fff;

  margin: 0 auto;


  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: black;

  z-index: 10;

  text-align: center;

  padding-top: 15px;

  width: $cube-width;
  height: $cube-width;

  @include cube-hover-animation();

  
}



.ah-nav-cube:hover {

  text-decoration: none;
  @include cube-hover-animation();

  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition-duration: 1s;
  transition-property: transform;
}

.ah-nav-cube:active,
.ah-nav-cube:focus {

  
  text-decoration: none;
}



// ah blue cube
.ah-nav-cube.ah-blue-cube{
  color: white;
  border-color: $cube-blue;
}

.ah-nav-cube.ah-blue-cube:hover{

  color: white;
  background-color: $cube-blue;
}



// ah sidebar brand
.ah-sidebar-brand {

  height: 65px;
  font-size: 20px;
  font-weight: 600; //semi bold
  font-family: 'Open Sans', sans-serif;
  line-height: 60px;
}


.ah-sidebar li {

  font-family: 'Varela Round', sans-serif;
}

.ah-sidebar li{
  left-padding: 0;
}

.ah-sidebar > .ah-sidebar-brand a {
  text-decoration: none;
  color: #999999;
}

.ah-sidebar > .ah-sidebar-brand a:hover {
  text-decoration: none;
  color: #fff;
  background: none;
}



// horizontal cubelist
.ah-hor-cubelist {

  position: fixed;
  display: inline-block;


  font-size: 0;  //remove space between inline blocks

  height: 50px;


  opacity: 0;
  visibility: hidden;
  
  @include ah-animation(all, 0.3);


  .ah-nav-cube{
    // position: fixed;
    margin: 0 auto;
    // display: inline-block;
    font-size: 15px; 
    color: $cube-blue;
    z-index: 100;
  }


  > *{

    vertical-align: middle;
  }
 
}


.ah-hor-cubelist:hover,
.ah-cubelist-btn:hover + .ah-hor-cubelist,
.ah-cubelist-btn:active + .ah-hor-cubelist{

  visibility: visible;
  opacity: 1;
}

.ah-hor-cubelist .ah-nav-cube:hover{
  color: #fff;
}





// vertical cubelist 
.ah-ver-cubelist {

  position: fixed;
  display: block;



  font-size: 0;  //remove space between inline blocks

  width: 50px;

  text-align: center;

  opacity: 0;
  visibility: hidden;

  
  @include ah-animation(all, 0.3);

  .ah-nav-cube{
    // position: fixed;
    margin: 0 auto;
    display: block;
    font-size: 15px; 
    color: $cube-blue;
    z-index: 100;
  }

}



.ah-ver-cubelist:hover,
.ah-cubelist-btn:hover + .ah-ver-cubelist,
.ah-cubelist-btn:active + .ah-ver-cubelist{

  visibility: visible;
  opacity: 1;
}

.ah-ver-cubelist .ah-nav-cube:hover{
  color: #fff;
}












$line-width: 2px;


// archare veritical line for connecting the cubes
.ah-ver-line {

  display: inline-block;
  background-color: $cube-blue;

  width: 2px;
  height: 20px;
  margin: 0 auto;
}

.ah-ver-line.ah-blue-line{

  background-color: $cube-blue;
}


// archare horizontal line for connecting the cubes
.ah-hor-line {

  display: inline-block;

  background-color: $cube-blue;

  width: $cube-width/2;

  margin-top: ($cube-width - $line-width)/2;

  height: $line-width;
  margin-bottom: $cube-width - ($cube-width - $line-width)/2;
}


.ah-hor-line{
  &.ah-blue-line{

    background-color: $cube-blue;
  }
}




.ah-branch-line{
  display: inline-block;

  background-color: $cube-blue;

  width: $cube-width/2;

  margin-top: ($cube-width - $line-width)/2;

  height: $line-width;
  margin-bottom: $cube-width - ($cube-width - $line-width)/2;

}


.ah-hor-div{
  display: inline-block;
  height: $cube-width;
  font-size: 0; 
  padding-left: 20px + $cube-width/2;
  // position: fixed;

  .ah-nav-cube{
    // position: fixed;
    margin: 0 auto;
    display: inline-block;
    font-size: 15px; 
    color: $cube-blue;
    z-index: 100;
  }

  > *{

    vertical-align: middle;
  }
}



