

@mixin collapse-animation($attribute, $duration){

  @if not $attribute{
    $attribute: all;
  }

  // transition animation
  -webkit-transition: $attribute $duration ease;   
     -moz-transition: $attribute $duration ease;
       -o-transition: $attribute $duration ease;
          transition: $attribute $duration ease;

}


$sidebar-width: 120px;
$sidebar-bg-color: lighten(#000, 20%); // gray dark of bootstrap;

.ah-fixed-top-nav{

  margin-left: $sidebar-width;
  padding: 20px;
  background: white;
  height: 60px;

  @include collapse-animation(all, 0.5s);
}

#wrapper.collapsed {
  // wrapper is in sidebar-collapsed mode

  padding-left: 0px;

  .ah-fixed-top-nav{

    margin-left: 0px;
    padding: 20px;
  }


  #sidebar-wrapper {
    width: 0px;
  }
}


/* Toggle Styles */
#wrapper {

  // padding-left: $sidebar-width;

  @include collapse-animation(all, 0.5s);
}




#sidebar-wrapper {

  position: fixed;


  width: $sidebar-width;

  left: 250px;
  margin-left: -250px;

  height: 100%;

  overflow-y: auto;
  background: $sidebar-bg-color;

  @include collapse-animation(all, 0.5s);
}

#page-content-wrapper {

  width: 100%;
  position: absolute;
  padding: 15px;
  // z-index: -1;
}

#wrapper.collapsed #page-content-wrapper {


  position: absolute;
  margin-right: -250px;
}














/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  list-style: none;

  text-align: center; 
}

.sidebar-nav .ah-nav-cube  {

  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 0 auto;

  transition: background-color 1s ease 0s;
}


.sidebar-nav .ah-nav-cube{
  border-radius: 5px;
  border-style: solid;
  // border-color: #f2f2f2;
  // border-color: #ff3333;
  border-color: #6666ff;

  border-width: 2px;
  margin: 0 auto;
  z-index: 10;
  /*padding: 10px;*/
  /*display: table;*/

  text-align: center;

  padding-top: 15px;

  width: 50px;
  height: 50px;
}

.sidebar-nav .ah-nav-cube:hover {

  text-decoration: none;
  // color: #fff;
  // background: rgba(255,255,255,0.2);
  // background-color: #b30000;
  // background-color: #6666ff;
  transition: background-color 1s ease 0s;
}

.sidebar-nav .ah-nav-cube:active,
.sidebar-nav .ah-nav-cube:focus {

  text-decoration: none;
}

.ah-nav-cube.ah-blue-cube{
  // color: #6666ff;

}

.ah-nav-cube.ah-blue-cube:hover{
  color: white;
  background-color: #6666ff;
}


.sidebar-nav > .sidebar-brand {

  height: 65px;
  font-size: 20px;
  font-weight: 600; //semi bold
  font-family: 'Open Sans', sans-serif;
  line-height: 60px;
}


.sidebar-nav li {

  font-family: 'Varela Round', sans-serif;
}

.sidebar-nav li{
  left-padding: 0;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  text-decoration: none;
  color: #fff;
  background: none;
}


.ah-sidebar-cubelist{
  display: inline;
  z-index: 100;
}


.ah-hor-cubelist-right .ah-nav-cube{
  // position: fixed;
  margin: 0 auto;
  display: inline-block;
  font-size: 15px; 
  color: #6666ff;
  z-index: 100;
  // background-color: #ff3333;
  // background-color: #6666ff;
  // background: lighten(#000, 20%);
}


.ah-hor-cubelist-right{
  // display: none;
  position: fixed;
  display: inline-block;

  // display: table-cell;
  // right: 0;
  opacity: 0;
  font-size: 0;  //remove space between inline blocks

  // background-color: red;
  height: 50px;
  vertical-align: middle;
  text-align: center;

  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.ah-hor-cubelist-right:hover,
.ah-cubelist-btn:hover + .ah-hor-cubelist-right,
.ah-cubelist-btn:active + .ah-hor-cubelist-right{

  visibility: visible;
  opacity: 1;

  // -webkit-transition: all 1s;
  // -moz-transition: all 1s;
  // -o-transition: all 1s;
  // transition: all 1s;
}

.ah-hor-cubelist-right .ah-nav-cube:hover{
  color: #fff;
}


#page-content-wrapper > div:not(#top-nav){
  // z-index: -1;
}

#page-content-wrapper{
  z-index: 1;
}

#sidebar-wrapper{
  z-index: 10;
}





// browser has a min-width:768px
// typically a browser for a PC
@media(min-width:768px) {

  #wrapper {
    padding-left: $sidebar-width;
  }

  #wrapper.collapsed {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: $sidebar-width;
  }

  #wrapper.collapsed #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 0px;
    position: relative;
  }

  #wrapper.collapsed #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}












// archare veritical line for connecting the cubes
.ah-ver-line {
  display: block;
  /*background-color: #f2f2f2;*/
  background-color: #ff3333;
  background-color: #6666ff;

  width: 2px;
  height: 20px;
  margin: 0 auto;
  /*margin-left: 22px;*/
}



// archare horizontal line for connecting the cubes
.ah-hor-line {

  /*position: relative;*/
  display: inline-block;

  /*background-color: #f2f2f2;*/
  background-color: #ff3333;
  background-color: #6666ff;

  width: 20px;
  height: 2px;

  margin: 0 auto;

  // center vertical line
  position: relative;
  /*top: -10%;*/
  top: -6px;
}
